[Unit]
Description=FastAPI Service
After=network.target
Requires=redis-server.service
After=redis-server.service

[Service]
Type=simple
Restart=on-failure
User=ubuntu
RestartSec=3
WorkingDirectory=/home/ubuntu/AnimFlow/renderer
ExecStart=/home/ubuntu/AnimFlow/renderer/venv/bin/python -m uvicorn main:app --host 0.0.0.0 --port 8000
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target