GEMINI_APIKEY=""
JWT_SECRET=''
DATABASE_URL=""

DIRECT_URL=""
GOOGLE_CLIENT_ID = ""

GOOGLE_CLIENT_SECRET = ""
GITHUB_CLIENT_ID = ""
GITHUB_CLIENT_SECRET = ""
INTERNAL_SERVICE_SECRET = ""
WORKER_URL = "" 
FE_URL=""
GOOGLE_CALLBACK_URL = "" 
GITHUB_CALLBACK_URL = ""