DATABASE_URL=""

DIRECT_URL=""

FE_URL=""

JWT_SECRET=""

GEMINI_APIKEY=""

GOOGLE_CALLBACK_URL = ""

GOOGLE_CLIENT_ID = ""

GOOGLE_CLIENT_SECRET = ""

GITHUB_CALLBACK_URL = ""

GITHUB_CLIENT_ID = ""

GITHUB_CLIENT_SECRET = ""

INTERNAL_SERVICE_SECRET = ""

WORKER_URL = ""